<!-- <i class="fas fa-bars absolute little-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
<div class="dropdown-menu dropdown-menu-left bg-white" aria-labelledby="navbarDropdown">
  <%= link_to t(".home"), root_path, class: "dropdown-item" %>
  <%= link_to t(".map"), protests_path, class: "dropdown-item" %>
  <%= link_to t(".protest"), new_protest_path, class: "dropdown-item" %>
  <%= link_to t(".about"), about_path, class: "dropdown-item" %>
  <br>
  <% if params[:locale] == 'en' %>
    <%= link_to 'Español', { locale: 'es' }, {class: "green padding-left no-decoration"} %>
  <% else %>
    <%= link_to 'English', { locale: 'en' }, {class: "green padding-left no-decoration"} %>
  <% end %>
  </div>
</div> -->

<div class="navbar">
  <i class="fas fa-bars col-3 padding-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
<!--   <div class="col-5">
    <p id="title">i<strong>m</strong>visible</p>
  </div> -->
  <div class="col-3 justify-left padding-none">
    <a href="/support"><button type="button" class="btn donate">DONATE</button></a>
  </div>
  <div class="dropdown-menu dropdown-menu-left bg-white" aria-labelledby="navbarDropdown">
    <%= link_to t(".home"), root_path, class: "dropdown-item" %>
    <%= link_to t(".map"), protests_path, class: "dropdown-item" %>
    <%= link_to t(".protest"), new_protest_path, class: "dropdown-item" %>
    <%= link_to t(".about"), about_path, class: "dropdown-item" %>
    <br>
    <% if params[:locale] == 'en' %>
      <%= link_to 'Español', { locale: 'es' }, {class: "green padding-left no-decoration"} %>
    <% else %>
      <%= link_to 'English', { locale: 'en' }, {class: "green padding-left no-decoration"} %>
    <% end %>
    </div>
  </div>
</div>
