<i class="fas fa-bars <%= @homepage %> absolute" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
  <%= link_to t(".home"), root_path, class: "dropdown-item" %>
  <%= link_to t(".map"), protests_path, class: "dropdown-item" %>
  <%= link_to t(".protest"), new_protest_path, class: "dropdown-item" %>
  <%= link_to t(".today"), today_protests_path, class: "dropdown-item" %>
  <%= link_to "About", about_path, class: "dropdown-item" %>
</div>

