<%= simple_form_for @protest do |f| %>
    <!-- Witness -->
    <div class="experienced-select flex-50 mr-1">
      <div class="form-check-experienced experienced">
        <input class="form-check-experienced-input radio_buttons optional" type="radio" value="0" name="protest[experienced]" id="protest_experienced_0">
        <label class="form-check-experienced-label collection_radio_button experience-label" for="protest_experienced_0" id='label-0'>
          <%= t ".experienced" %>
        </label>
      </div>
      <div class="form-check-experienced flex-50 witnessed ml-1">
        <input class="form-check-experienced-input radio_buttons optional" type="radio" value="1" name="protest[experienced]" id="protest_experienced_1">
        <label class="form-check-experienced-label collection_radio_buttons experience-label" for="protest_experienced_1" id='label-1'>
          <%= t ".witnessed" %>
        </label>
      </div>
    </div>
    <h3><%= t ".location_label" %></h3>
    <div id="select-station-container">
      <%= f.association :station, as: :select, label_html: { class:"no-label " } %>
    </div>
    <h3 class="mt-3"><%= t ".date_label" %></h3>
    <div class="flex-50">
      <div class="date-select">
        <%= f.input :date, wrapper_html: { class: 'flex-select' }, as: :date, html5: true, label_html: { class:"no-label" } %>
      </div>
      <div class="time-select">
        <%= f.input :time, placeholder: "7:00 - 8:00", label_html: { class:"no-label" } %>
      </div>
    </div>

    <h3><%= t ".assault_type_label" %></h2>
    <div class="row">
        <% AssaultCategory.all.each do |category| %>
        <div class="col-6">
          <label class="label" for="protest_assault_category_ids_<%= category.id %>">
          <span><%= category.name.capitalize %></span>
          <input type="checkbox" class="checkbox" value="<%= category.id %>" name="protest[assault_category_ids][]" id="protest_assault_category_ids_<%= category.id %>"/>
          <span class="check-mark"></span>
          </label>
        </div>
        <% end %>
        <div>
          <label class="label">
          <span>Other</span>
          <input type="checkbox" class="checkbox" id="other_category_checkbox"/>
          <span class="check-mark"></span>
          </label>
        </div>
        <%= f.input :other_category, label_html: { class:"no-label" }, input_html: { id: "other_category_field" } %>
  </div>

  <div class="description-box">
    <%= f.input :description, placeholder: t(".description_placeholder"), label_html: { class:"no-label" }  %>
  </div>
  <div class="center-button">
    <div class="button-div animate__animated animate__pulse animate__slower animate__infinite">
      <%= f.button :submit, t(".protest"), class: 'btn protest-btn' %>
    </div>
  </div>
<% end %>






