<div class="container-fluid support">
 <div class="support-page">
    <h1 class="support-header text-center">SUPPORT</h1>
    <h1 class="about-name text-center">i<strong>m</strong>visible</h1>
  </div>
  <div class="mt-4 col-9 col-md-6 col-lg-4 container-fluid">
    <p class="text-justify"><%= t ".text_1_html" %></p>
    <p class="text-justify"><%= t ".text_2_html" %></p>
  </div>
  <div class="mt-5 mb-5 col-sm-8 col-md-6 container-fluid text-center">
    <a href="mailto:info@im-visible.com?subject=Quiero ser una embajadora"><button class="support-btn pt-2 pb-2"><%= t ".ambassador" %></button></a>
    <br>
    <a href="https://twitter.com/imvisible_mx"><button class="mt-3 support-btn pt-2 pb-2"><%= t ".twitter" %></button></a>
    <br>
    <a href="https://www.instagram.com/_imvisible/"><button class="mt-3 support-btn pt-2 pb-2"><%= t ".instagram" %></button></a>
  </div>
</div>
<%= render 'shared/footer' %>
