<!DOCTYPE html>
<html>
  <head>
    <title>Imvisible</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:url" content="www.im-visible.com/protests" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="imvisible" />
    <meta property="og:description" content="Sexual harassment happens every day and it goes unnoticed." />
    <meta property="og:image" content="../app/assets/images/og-image.png" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <% if flash[:notice] %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>You're visible!</strong> You're protest is now on the map!</span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
