<!DOCTYPE html>
<html>
  <head>
    <title>imvisible: Protest against sexual harassment on public transport</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:url" content="http://www.im-visible.com/protests" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="imvisible: protesting sexual harassment on public transport" />
    <meta property="og:description" content="Sexual harassment happens every day and it goes unnoticed." />
    <meta property="og:image" content="https://images.unsplash.com/photo-1482678264299-6eb83b49cb42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&h=630&q=80" />
    <%= favicon_link_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="/manifest.json">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <% if flash[:notice] %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <div class="flash-close">
          <a data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times big-icon"></i>
          </a>
        </div>
        <div class="flash-text pb-3">
          <span><strong>You're visible!</strong><br>Your protest is now <br> on the map!</span>
        </div>
      </div>
    <% end %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="ndqirQjf"></script>
  </body>
</html>
