<!DOCTYPE html>
<html>
  <head>
    <title>Imvisible</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:url" content="http://www.im-visible.com/protests" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="imvisible" />
    <meta property="og:description" content="Sexual harassment happens every day and it goes unnoticed." />
    <meta property="og:image" content="https://images.unsplash.com/photo-1538444520070-6f046ce1bccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <% if flash[:notice] %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>You're visible!</strong><br>Your protest is now<br>on the map!</span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="ndqirQjf"></script>
  </body>
</html>
